.iconBox {
  position: relative;
  cursor: pointer;
}

/* hidden by default */
.iconText {
  position: absolute;
  top: 140%;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 4px 10px;
  border: 1px solid #444;
  border-radius: 3px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

/* show on hover */
.iconBox:hover .iconText {
  opacity: 1;
}


.profileWrapper:hover .profileDropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.profileDropdown {
  position: absolute;
  top: 140%;
  right: 0;
  width: 260px;
  background: #111;
  border: 1px solid #333;
  padding: 15px;
  border-radius: 3px;

  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
  z-index: 1000;
}